 <!--start: Header -->
 <header>
		
		<!--start: Container -->
		<div class="container">
			
			<!--start: Navigation -->
			<nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand page-title" href="#">Property Management</a>
            </div>
            <ul class="nav navbar-nav">
              <!-- </li><a href="#">Home</a></li>
              <li><a href="#">Page 1</a></li>
              <li><a href="#">Page 2</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome Lucy!</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div>
        </nav>
			<!--end: Navigation -->
											
		</div>
		<!--end: Container-->			
			
	</header>
    <!--end: Header-->
    <div id="selection">
        <div id="selection-inner">
            <div id="container">
                <div class="buttons">
                       <div class="btn-group" data-toggle="buttons">
                           <label class="btn btn-primary active">
                               <input type="radio" name="options" id="option1" autocomplete="off" checked> View All
                           </label>
                           <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="option2" autocomplete="off" checked>Items
                                </label>
                                <label class="btn btn-primary">
                                        <input type="radio" name="options" id="option3" autocomplete="off" checked>Members
                                    </label>
                       </div><!-- end button group -->
                </div>
            </div>
        </div>
    </div>